<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="18"
          android:versionName="2.7">

    <!-- Permissions needed -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <uses-feature
            android:name="android.hardware.sensor.accelerometer"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.sensor.compass"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.location"
            android:required="true"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
        <activity
                android:name="com.karimo.prayertimes.BookmarkActivity"
                android:exported="false"
                android:label="@string/quran_bookmarks"/>
        <activity
                android:name="com.karimo.prayertimes.QuranPlayerActivity"
                android:exported="false"
                android:label="@string/title_activity_quran_player"/>
        <activity
                android:name="com.karimo.prayertimes.QuranReaderActivity"
                android:exported="false"
                android:label="@string/title_activity_quran"/>
        <activity
                android:name="com.karimo.prayertimes.QuranActivity"
                android:exported="false"
                android:label="@string/title_activity_quran"/>
        <!--
            Google Maps API key.
             To get one, follow the directions here:
                https://developers.google.com/maps/documentation/android-sdk/get-api-key
             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}"/>

        <activity
                android:name="com.karimo.prayertimes.NearestMasjid"
                android:exported="false"
                android:label="@string/title_activity_nearest_masjid"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name="com.karimo.prayertimes.DhikrActivity"
                android:exported="false"
                android:label="@string/title_activity_dhikr"/>
        <activity
                android:name="com.karimo.prayertimes.MainScreen"
                android:exported="true"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.karimo.prayertimes.QiblaActivity"
                android:label="@string/title_activity_qibla">
        </activity>
        <activity
                android:name="com.karimo.prayertimes.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity
                android:name="com.karimo.prayertimes.HijriCalendar"
                android:label="@string/title_activity_hijri_calendar"
                tools:ignore="Instantiatable">
        </activity>
        <activity
                android:name="com.karimo.prayertimes.SearchLocationActivity"
                android:label="@string/title_activity_search_location">
        </activity>
        <activity
                android:name="com.karimo.prayertimes.InfoActivity"
                android:label="@string/title_activity_info">
        </activity>

        <service
                android:name="com.karimo.prayertimes.AdhanService"
                android:permission="android.permission.BIND_JOB_SERVICE"/> <!-- services declared -->
        <service
                android:name="com.karimo.prayertimes.CountDownService"
                android:enabled="true"
                android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
                android:name="com.karimo.prayertimes.TimeUpdaterService"
                android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
                android:name="com.karimo.prayertimes.AlarmService"
                android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
                android:name="com.karimo.prayertimes.MidnightAlarmService"
                android:permission="android.permission.BIND_JOB_SERVICE"/> <!-- to schedule adhan alarms/notifications -->

        <!--to display quran player controls in the notifications-->
        <service
                android:name="com.karimo.prayertimes.QuranPlayerService"
                android:foregroundServiceType="mediaPlayback"
                android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
                <!-- for backwards compatibility -->
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>


        <receiver
                android:name="com.karimo.prayertimes.AlarmReceiver"
                android:enabled="true">
        </receiver>
        <receiver
                android:name="com.karimo.prayertimes.TimeUpdaterReceiver"
                android:enabled="true">
        </receiver>
        <receiver
                android:name="com.karimo.prayertimes.UpdateWidgetReceiver"
                android:enabled="true">
        </receiver>
        <receiver
                android:name="com.karimo.prayertimes.MidnightAlarmReceiver"
                android:enabled="true"/> <!-- to restart the alarms when system is rebooted/on boot -->
        <!-- will not be called unless application explicitly enables it -->
        <receiver
                android:name="com.karimo.prayertimes.DeviceBootReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/> <!-- consider removing if crashes occur -->
            </intent-filter>
        </receiver> <!-- widget -->
        <receiver
                android:name="com.karimo.prayertimes.PrayTimesWidget"
                android:exported="true"
                android:label="Prayer Times Widget">

            <!-- creating a widget -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget1_info"/>
        </receiver>
    </application>

</manifest>